<!DOCTYPE html>
<html>
  <head>
    <title>Quickfit</title>
    <link href="/static/forgottenpassword.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h2 class="logo">Quickfit.com</h2>
    </header>

    <div class="popup" id="login">
      <div class="form">
        <h2>Reset Password</h2>
        <form action="submit_login_form" method="post" id="loginform">
          <div class="inputbox">
            <div class="desc">
              <label>Email Address</label>
            </div>
            <div class="input">
              <input type="email" required size="40" name="email" />
            </div>
          </div>
          <button class="submitbutton" type="submit">Login</button>
        </form>
      </div>
    </div>

    <script src="#"></script>
  </body>
</html>
