* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppinns", "sans-serif";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("backgroundlight.png");
  background-size: cover;
  background-attachment: fixed;
  height: 4000px;
}
.logo {
  font-size: 2em;
  color: #ffffff;
  user-select: none;
  padding-left: 20px;
  margin-right: 65%;
}

.popup {
  position: fixed;
  width: 400px;
  top: 140px;
  left: 520px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.5s ease;
  z-index: 50;
  height: 660px;
}
